#demo {
    padding: 0px;
    margin: 0px;
}
td {
    width: 100%;
    /* display: block; */
    /* flex-direction: row;
    flex-wrap: nowrap; */
    border: 0px;
    border-bottom: 5px; 
    border-bottom-color: white; 
    border-style: solid;
    padding-bottom: 8px;
}
th {
    vertical-align: bottom; 
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.th-border {
    border: 0px;
    border-bottom: 1px; 
    border-bottom-color: lightpink; 
    border-style: solid;
}
body {
    background-color: lightpink;
    font-family: Arial Rounded MT Bold;
    margin: 0px;
    padding: 0px;
}
h1 {
    margin-bottom: 0;
    padding-left: 22px
}
h2 {
    margin-top: 0;
    /* margin-bottom: 44px; */
    /* padding-left: 22px; */
}
p {
    padding-left:22px;
}
.logo {
    width:20%;
    margin-left:112px;
    padding-top: 300px;
}
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}
a:visited {
    color: black;
}
a:hover {
    color: lightpink;
}
.aNav {
    display: flex;
    width: 50%;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}
.aNav:hover {
    color:black;
}
.navTable {
    background: rgb(255, 182, 193);
    width: 100%;
    /* display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start; */
    list-style: none;
    align-items: baseline;
    position:fixed;
    vertical-align: top;
    margin: 0px;
    padding: 112px;
    padding-bottom: 0px;
    /* box-shadow: 0px 50px 50px lightpink; */
}
.containerNav {
    background: rgb(255, 182, 193);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
    list-style: none;
    align-items: baseline;
    position:fixed;
    vertical-align: top;
    margin: 0px;
    padding: 112px;
    padding-bottom: 0px;
    /* box-shadow: 0px 50px 50px lightpink; */
}
.itemNav {
    width: 25%;
    display: flex;
    flex-grow: 3;
    color:white;
    /* background-color: black; */
    /* flex-grow: 3;
    flex-shrink: 3;
    flex-basis: auto; */
    /* max-width: 300px; */
    padding-right: 90px;
    padding-bottom: 16px;
    padding-top: 16px;
    /* padding-right: 112px; */
    margin: 0px;
    list-style: none;
    border: 0px;
    border-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: white;
}
.itemNavLast {
    width: 25%;
    display: flex;
    flex-grow: 3;
    color:transparent;
    /* background-color: black; */
    /* flex-grow: 3;
    flex-shrink: 3;
    flex-basis: auto; */
    /* max-width: 300px; */
    padding-right: 90px;
    padding-bottom: 16px;
    padding-top: 16px;
    /* padding-right: 112px; */
    margin: 0px;
    list-style: none;
    border: 0px;
    border-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: white;
}
.aSource:hover {
    color: white;
}
input {
    margin-bottom: 0;
}
.container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
    list-style: none;
    align-items: baseline;
    padding-right: 90px;
    margin-top: 50px;
}
.item {
    width: 25%;
    display: flex;
    /* flex-grow: 3;
    flex-shrink: 3;
    flex-basis: auto; */
    /* max-width: 300px; */
    padding: 50px;
    margin: 0px;
    flex-flow: row wrap;
    flex-grow: 3;
    justify-content: flex-start;
    list-style: none;
}
.list {
    list-style: none;
    /* margin-left: 20px; */
    line-height: 16px;
} 
.button {
    display:inline-flex;
    min-width: 25%;
    font-family: Arial Rounded MT Bold;
    font-size: 24px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: white;
    overflow: hidden;
    white-space: nowrap; 
    /* animation: button .8s; */
    margin-bottom: 50px;
    margin-right: 16px;
    margin-top: 24px;
    }
/*      
    /* @keyframes button {
     0% { width: 0%; }
     50% { width: 50%}
     100% { width: 100%; }
    } */

.reload {
    display:inline-flex;
    /* width: 100%; */
    font-family: Arial Rounded MT Bold;
    font-size: 24px;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: pink;
    overflow: hidden;
    white-space: nowrap; 
    /* animation: button .8s; */
    margin-bottom: 50px;
    margin-top: 24px;
    }
/*           
    @keyframes button {
     0% { width: 0%; }
     50% { width: 50%}
     100% { width: 100%; }
    } */
    

.result {
    display:inline-block;
    text-align: center;
    align-content: center;
    height: 16px;
    margin: 4px;
    /* width: 100%; */
    font-family: Arial Rounded MT Bold;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
    border-radius: 2em;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
    overflow: hidden;
    white-space: nowrap; 
    list-style: none;
    }
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.form-group {
    margin-bottom: 1rem;
}

.slidecontainer {
    padding-left: 22px;
    padding-right: px;
    width: 100%;
    min-width: 100%;
}
      
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    display: flex;
    background: black;
    outline: none;
    border-radius: 10px;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    }
      
.slider:hover {
    opacity: 1;
    }
      
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background: white;
    cursor: pointer;
    }
      
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    background: white;
    cursor: pointer;
}
.timeLineContainer {
    padding-left: 22px;
    width: 100%;
    }
.timeLine {
    -webkit-appearance: none;
    width: 100%;
    display: flex;
    height: 2px;
    background: white;
    outline: none;
    /* border-radius: 10px; */
}
      
.timeLine::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6px;
    height: 25px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background: pink;
    transition: ease-in-out;
    /* cursor: pointer; */
    }
      
.timeLine::-moz-range-thumb {
    width: 6px;
    height: 25px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background: pink;
    /* cursor: pointer; */
}
@media only screen and (max-width: 1600px) {
    .itemNavLast {
        width: 0;
        height: 0px;
        display: flex;
        flex-grow: 0;
        color:rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        line-height: 0;
        /* flex-grow: 3;
        flex-shrink: 3;
        flex-basis: auto; */
        /* max-width: 300px; */
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        /* padding-right: 112px; */
        margin: 0px;
        list-style: none;
        border: 0px;
        border-style: none;
        border-bottom-width: 5px;
        border-bottom-color: white;
    }
    .item {
        min-width: 50%;
        max-width: 50%;
        display: block; 
        /* max-width: 300px; */
        padding: 50px;
        margin: 0px;
        flex-flow: row wrap;
        justify-content: flex-start;
        list-style: none;
    } 
    .logo {
        width:40%;
        margin-left:112px;
        padding-top: 300px;
        /* padding-bottom: 150px; */
    }
    .button {
        display:inline-block;
        /* width: 100%; */
        font-family: Arial Rounded MT Bold;
        font-size: 24px;
        text-align: center;
        border-style: solid;
        border-width: 5px;
        border-color: black;
        border-radius: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 16px;
        padding-left: 16px;
        background-color: white;
        overflow: hidden;
        white-space: nowrap; 
        margin-bottom: 24px; 
        margin-top: 24px;
    }
    .reload {
        display:block;
        /* width: 100%; */
        font-family: Arial Rounded MT Bold;
        font-size: 24px;
        text-align: center;
        border-style: solid;
        border-width: 5px;
        border-color: black;
        border-radius: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 16px;
        padding-left: 16px;
        background-color: pink;
        overflow: hidden;
        white-space: nowrap; 
        margin-bottom: 32px;
        margin-top: 0px;
    }
}
@media only screen and (max-width: 720px) {
    .container {
        display: block;
        flex-flow: row wrap;
        align-content: stretch;
        justify-content: center;
        list-style: none;
        align-items: baseline;
    }
    .item {
        min-width: 100%;
        max-width: 100%;
        display: block;  
        /* max-width: 300px; */
        padding: 0px;
        margin: 0px;
        flex-flow: row wrap;
        justify-content: flex-start;
        list-style: none;
    } 
    .navTable {
        background: rgb(255, 182, 193);
        width: 100%;
        /* display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        align-content: flex-start;
        justify-content: flex-start; */
        list-style: none;
        align-items: baseline;
        position:fixed;
        vertical-align: top;
        margin: 0px;
        padding: 32px;
        padding-bottom: 0px;
        /* box-shadow: 0px 50px 50px lightpink; */
    }
    .containerNav {
        background: rgb(255, 182, 193);
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        align-content: flex-start;
        justify-content: flex-start;
        list-style: none;
        align-items: baseline;
        position:fixed;
        vertical-align: top;
        margin: 0px;
        padding: 25px;
        padding-bottom: 0px;
        /* box-shadow: 0px 50px 50px lightpink; */
    }
    .itemNav {
        width: 25%;
        display: flex;
        flex-grow: 3;
        color:white;
        /* background-color: black; */
        /* flex-grow: 3;
        flex-shrink: 3;
        flex-basis: auto; */
        /* max-width: 300px; */
        padding-right: 0px;
        padding-bottom: 16px;
        padding-top: 16px;
        /* padding-right: 112px; */
        margin: 0px;
        list-style: none;
        border: 0px;
        border-style: solid;
        border-bottom-width: 5px;
        border-bottom-color: white;
    }
    .itemNavLast {
        width: 0;
        display: flex;
        flex-grow: 0;
        color:rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        line-height: 0;
        /* flex-grow: 3;
        flex-shrink: 3;
        flex-basis: auto; */
        /* max-width: 300px; */
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        /* padding-right: 112px; */
        margin: 0px;
        list-style: none;
        border: 0px;
        border-style: none;
        border-bottom-width: 0px;
        border-bottom-color: rgba(0, 0, 0, 0);
    }
    .timeLineContainer {
        padding-left: 22px;
        width: 50%;
        }
    .slidecontainer {
        width: 100%;
        }
          
    .slider {
        -webkit-appearance: none;
        min-width: 100%;
        height: 5px;
        background: black;
        outline: none;
        border-radius: 10px;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        }
          
    .slider:hover {
        opacity: 1;
        }
          
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50px;
        border-style: solid;
        border-width: 5px;
        border-color: black;
        background: white;
        cursor: pointer;
        }
          
    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50px;
        border-style: solid;
        border-width: 5px;
        border-color: black;
        background: white;
        cursor: pointer;
    }
    .button {
        display:inline-block;
        /* width: 100%; */
        font-family: Arial Rounded MT Bold;
        font-size: 24px;
        text-align: center;
        border-style: solid;
        border-width: 5px;
        border-color: black;
        border-radius: 30px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 16px;
        padding-left: 16px;
        background-color: white;
        overflow: hidden;
        white-space: nowrap; 
        margin-bottom: 24px; 
        margin-top: 24px;
    }
    .logo {
        width:50%;
        margin:32px;
        padding-top: 64px;
        /* padding-bottom: 150px; */
    }   
  }